* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  padding-top: 0px;
  font-size: 1rem;
}

header {
  width: calc(100% + 40px);
  margin-left: -20px;
  position: sticky;
  top: 0px;
}

header nav {
  background-color: rgba(22, 22, 23, 0.9);
  display: flex;
  justify-content: end;
  padding: 20px;
  display: none;
}

@media (min-width: 970px) {
  header nav {
    display: flex;
  }
}

.menuNav {
  display: flex;
  gap: 30px;
  list-style-type: none;
  align-items: center;
}

.itemDistinto {
  border-radius: 20px;
  box-shadow: 5px 5px 15px gray, -5px 5px 15px gray;
  background-color: white;
  padding: 8px 20px;
}

.linkNav {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.linkDistinto {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.linkNav:hover,
.linkDistinto:hover {
  color: #ff0088;
}

#presentacion {
  margin-top: 100px;
  text-align: center;
  padding: 80px 20px;
}

@media (min-width: 970px) {
  #presentacion {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    scroll-margin-top: 74px;
    padding: 110px 20px;
  }
}

.saludo {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.8rem;
  color: #ff0088;
  margin-bottom: 20px;
}

@media (min-width: 970px) {
  h1 {
    font-size: 3.5rem;
  }
}

.profesion {
  margin-bottom: 40px;
}

.botonPresentación {
  border-radius: 20px;
  box-shadow: 5px 5px 15px gray, -5px 5px 15px gray;
  color: white;
  background-color: #ff0088;
  padding: 12px 35px;
  font-weight: bolder;
  text-decoration: none;
}

.botonPresentación:hover {
  color: black;
}

.ImgMujer {
  margin-top: 50px;
  width: 100%;
}

@media (min-width: 970px) {
  .ImgMujer {
    margin: 0px;
    width: 50%;
  }
}

@media (min-width: 970px) {
  .ContainerPresentación {
    width: 50%;
    max-width: 1100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
}

#conocimientos {
  text-align: center;
  scroll-margin-top: 74px;
  background-color: #ff0088;
  padding: 40px;
  width: calc(100% + 40px);
  margin-left: -20px;
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
  margin-block: 20px;
  font-weight: bolder;
}

.containerCard {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  gap: 20px;
  justify-content: center;
  justify-items: center;
  padding-block: 50px;
  max-width: 1100px;
  margin: auto;
}

@media (min-width: 970px) {
  .containerCard {
    grid-template-columns: repeat(3, 25%);
  }
}

.cardConocimentos {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 255px;
  width: 100%;
}

.cardConocimentos:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media (min-width: 970px) {
  .cardConocimentos {
    padding: 30px;
  }
}

.fa-brands {
  font-size: 3.2rem;
  margin-block: 10px;
}

@media (min-width: 970px) {
  .fa-brands {
    font-size: 5rem;
    margin-block: 20px;
  }
}

#conocimientos h3 {
  font-size: 1rem;
  margin-block: 10px;
}

@media (min-width: 970px) {
  #conocimientos h3 {
    font-size: 1.3rem;
    margin-block: 20px;
  }
}

.parrafo-conocimientos {
  max-width: 700px;
  margin: auto;
}

.frase {
  padding: 80px 20px;
  background-color: black;
  color: white;
  text-align: center;
  scroll-margin-top: 74px;
  width: calc(100% + 40px);
  margin-left: -20px;
}

.fas {
  font-size: 7rem;
}

.parrafo-frase {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
}

.frase h3 {
  font-size: 1.7rem;
}
