* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  padding-top: 0px;
  font-size: 1rem;
}
/* INICIO HEADER */
header {
  width: calc(100% + 40px);
  margin-left: -20px;
  position: sticky;
  top: 0px;
}

header nav {
  background-color: rgba(22, 22, 23, 0.9);
  display: flex;
  justify-content: end;
  padding: 20px;
  display: none;
}

@media (min-width: 970px) {
  header nav {
    display: flex;
  }
}

/* INICIO MENU DEL HEADER */

.menu_nav{
  display: flex;
  gap: 30px;
  list-style-type: none;
  align-items: center;
}

.item_distinto{
  border-radius: 20px;
  box-shadow: 5px 5px 15px gray, -5px 5px 15px gray;
  background-color: white;
  padding: 8px 20px;
}

.link_nav{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link_distinto{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.link_nav:hover,
.link_distinto:hover{
  color: #ff0088;
}
/* FIN MENU DEL HEADER */

/* FIN DEL HEADER */

/* INICIO DE LA 1RA SECCIÓN:PRESENTACIÓN */

#seccion_presentacion {
  margin-top: 100px;
  text-align: center;
  padding: 80px 20px;
}

@media (min-width: 970px) {
  #seccion_presentacion {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    scroll-margin-top: 74px;
    padding: 110px 20px;
  }
}

.saludo {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.8rem;
  color: #ff0088;
  margin-bottom: 20px;
}

@media (min-width: 970px) {
  h1 {
    font-size: 3.5rem;
  }
}

.profesion {
  margin-bottom: 40px;
}

.boton_presentación {
  border-radius: 20px;
  box-shadow: 5px 5px 15px gray, -5px 5px 15px gray;
  color: white;
  background-color: #ff0088;
  padding: 12px 35px;
  font-weight: bolder;
  text-decoration: none;
}

.boton_presentación:hover {
  color: black;
}

.Img_mujer {
  margin-top: 50px;
  width: 100%;
}

@media (min-width: 970px) {
  .Img_mujer {
    margin: 0px;
    width: 50%;
  }
}

@media (min-width: 970px) {
  .Container_presentación {
    width: 50%;
    max-width: 1100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
}

/* FIN DE LA 1RA SECCIÓN:PRESENTACIÓN */

/* INICIO DE LA 2DA SECCIÓN:CONOCIMIENTOS */

#seccion_conocimientos {
  text-align: center;
  scroll-margin-top: 74px;
  background-color: #ff0088;
  padding: 40px;
  width: calc(100% + 40px);
  margin-left: -20px;
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
  margin-block: 20px;
  font-weight: bolder;
}

.container_card_conocimientos{
  display: grid;
  grid-template-columns: repeat(2, 45%);
  gap: 20px;
  justify-content: center;
  justify-items: center;
  padding-block: 50px;
  max-width: 1100px;
  margin: auto;
}

@media (min-width: 970px) {
  .container_card_conocimientos {
    grid-template-columns: repeat(3, 25%);
  }
}

.card_conocimentos {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 255px;
  width: 100%;
}

.card_conocimentos:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media (min-width: 970px) {
  .card_conocimentos {
    padding: 30px;
  }
}

.fa-brands {
  font-size: 3.2rem;
  margin-block: 10px;
}

@media (min-width: 970px) {
  .fa-brands {
    font-size: 5rem;
    margin-block: 20px;
  }
}

#seccion_conocimientos h3 {
  font-size: 1rem;
  margin-block: 10px;
}

@media (min-width: 970px) {
  #seccion_conocimientos h3 {
    font-size: 1.3rem;
    margin-block: 20px;
  }
}

.parrafo_conocimientos {
  max-width: 700px;
  margin: auto;
}

/* FIN DE LA 2DA SECCIÓN:CONOCIMIENTOS */

/* INICIO DE LA 3RA SECCIÓN:FRASE */

.seccion_frase {
  padding: 80px 20px;
  background-color: black;
  color: white;
  text-align: center;
  scroll-margin-top: 74px;
  width: calc(100% + 40px);
  margin-left: -20px;
}

.fas {
  font-size: 7rem;
}

.parrafo_frase {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
  
}

.seccion_frase h3 {
  font-size: 1.7rem;
}

/* FIN DE LA 3RA SECCIÓN:FRASE */

/* INICIO 4TA SECCION: PROYECTOS */

#seccion_proyectos{
  text-align: center;
  scroll-margin-top: 74px;
  padding: 40px;
  max-width: 1100px;
  margin: auto;
   
}

.parrafo_proyectos{
  max-width: 700px;
  margin: auto;

}
.container_card_proyectos{
  display: grid;
  grid-template-columns: 80%;
  gap: 30px;
  justify-content: center;
  padding-block: 50px;
  max-width: 1100px;
  margin: auto;
}

@media(min-width:550px){
  .container_card_proyectos{
    grid-template-columns: repeat(2,40%);
  }
}
@media (min-width: 970px){
  .container_card_proyectos{
    grid-template-columns: repeat(3,30%);
  }
}


.card_proyectos{
  border-radius: 15px;
  box-shadow: 5px 5px 15px black;
  aspect-ratio: 1/1;
  padding: 10px;
  background-color: black;
  
}
@media (min-width: 970px){
  .card_proyectos{
  padding: 20px;}}


.card_proyectos:hover{
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 5px 5px 15px #ff0088;
  /* no funciona:color: #ff0088; */

}

.container_card_proyectos img{
  width: 70%;
  height: 70%;
  border-radius: 50%;
  
}
@media (min-width: 970px){
  .container_card_proyectos img{
  width: 80%;
  height: 80%;
}}

#seccion_proyectos h3 {
  font-size: 0.9rem;
  margin-block: 5px;
  color: white;
}
@media (min-width: 970px){
  #seccion_proyectos h3 {
  font-size: 1rem;
  margin-block: 10px;}}

#seccion_proyectos h3:hover{
  color: #ff0088; /* agregue esto porque no funciona el hover anterior */
}


.link_proyectos{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}
/* FIN 4TA SECCION: PROYECTOS */
